@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    font-family: "Roboto";
    box-sizing: border-box;
}

.bg-container {
    background-image: url("https://img.freepik.com/premium-photo/back-school-education-banner-background_8087-1192.jpg");
    background-size: cover;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tech-section {
    background-image: linear-gradient(to left, #0082F0, #199EF3, #6FB6F6, #88C6FC);
    padding: 10px;
    height: 100vh;

}

img {
    height: 150px;
    width: 150px;
    border-radius: 20px;
}

h1 {
    font-size: 26px;
}

.abt-card {
    background-color: #f9fbfe;
    background-size: cover;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    border-color: #e5eaf4;

}

.img-card {
    border-radius: 30px;
}

.course-card {
    border-radius: 30px;
    background-color: #F5FBFF;
    border-color: #EBECF0;
}

.followus-icon {
    background-color: #E1F8DC;
    padding: 20px;
    border-radius: 70px;
    margin: 10px;
}

.graphic:hover {
    color: green;
    text-decoration: underline;
    text-decoration-color: green;

}

button {
    border-radius: 17px;
    border-width: 0px;
    padding: 17px;
}